/* Images for an "image challenged" browser */
.chrome, .firefox, .opera,
.chrome:hover,
.firefox:hover,
.opera:hover      { background-position: 0 0;}

.chrome           { background: url("http://abetterbrowser.s3.amazonaws.com/images/ie/ie6_icon_chrome.gif") no-repeat;}
.firefox          { background: url("http://abetterbrowser.s3.amazonaws.com/images/ie/ie6_icon_firefox.gif") no-repeat;}
.opera            { background: url("http://abetterbrowser.s3.amazonaws.com/images/ie/ie6_icon_opera.gif") no-repeat; }

.meh .icon        { background: url("http://abetterbrowser.s3.amazonaws.com/images/ie/ie6_icon_ie.gif") no-repeat; }
.meh .icon:hover  { background-position: 0 0; }

.ad .noteless     {background: url("http://abetterbrowser.s3.amazonaws.com/images/ie/ie6_noteless_ad.gif") no-repeat;}

.footer .logo     { background: url("http://abetterbrowser.s3.amazonaws.com/images/ie/ie6_icon_ej.gif") no-repeat; }

.wrapperie8        { width: 900px; padding: 20px; margin:0 auto; position: relative; display: block ; clear: both;}
.wrapperie6, .wrapperie7, .wrapperie9 {display: none}


