body            { background: url("http://abetterbrowser.s3.amazonaws.com/images/background.png"); }
.wrapperie9        { width: 900px; padding: 20px; margin:0 auto; position: relative; display: block; clear: both;}
.wrapperie6, .wrapperie7, .wrapperie8 {display: none}

.menu           { width: 100%; background: #6b645e; padding: 8px 0; margin-bottom: 20px; display: block; position: relative; height: 28px;}
.menu li        { display: inline; margin-right: 20px; }
.menu ul        { text-align: center; }
.menu li,
.menu a         { color: #EEE; font-size: 14px; text-shadow: 0 -1px 0 rgba(0,0,0.4); }
.menu a         { text-decoration: none; }
.menu a:hover   { text-decoration: underline; }
.nav            { width: 1024px; margin: 0 auto; display: block; position : relative; }

/* Browser Icons */
.chrome, .firefox, .opera { width :200px ; height :200px; background: url("http://abetterbrowser.s3.amazonaws.com/images/icon_browsers.png") no-repeat; text-indent: -9000px; position: absolute; top: 60px }

.chrome,
.firefox             { margin-right: 20px;}

.chrome               { background-position: left top; left: 105px; }
.chrome:hover         { background-position: left bottom; }
.firefox              { background-position: -200px top; left: 370px; }
.firefox:hover        { background-position: -200px bottom; }

.opera                { background-position: -600px top; left: 630px; }
.opera:hover          { background-position: -600px bottom; }

.browsers             { width: 100%; background: url("http://abetterbrowser.s3.amazonaws.com/images/background_browsers.png"); height: 280px; margin-bottom: 20px; }
.browsers p           { width: 100%; text-align: center; margin-bottom: 25px; color: #AAA; font-weight: bold; text-shadow: 0 -1px 0 rgba(0,0,0,1);}

.meh                  { width: 710px; margin: 0 auto; position: relative; top: 20px;}
.meh .icon            { background: url("http://abetterbrowser.s3.amazonaws.com/images/ie_sprite.png") no-repeat; height: 40px; width: 40px; display: block; position: absolute; }
.meh .icon:hover      { background-position: 0px -40px; }
.meh p                { padding-left: 55px; padding-top: 10px;}

.ad                   {position: relative; top: 30px; display: block; width: 100%; text-align: center; height: 110px; }

.social               { position: relative; display: block; top: 55px; width: 100%; overflow: hidden; height: 70px; }
.social .twitter,
.social .google,
.social .facebook     { position: absolute; display: block; }

.social .twitter      { left: 200px; top: 0px; }
.social .google       { left: 560px; top: 0px; }
.social .google *     { color: #FFF; }
.social .facebook     { left: 356px; top: 0px; }

.footer               { text-align: center; position: relative; top:0; }
.footer ul            { margin-bottom: 15px; }
.footer ul li         { list-style: none; display: inline; }
.footer a,
.footer li            { color: #201e1c; text-shadow: 0 1px 0 rgba(255,255,255,.2); text-decoration: none; font-weight: bold; font-size: 14px; margin-right: 30px;}
.footer a:hover       { text-decoration: underline; }
.footer .contribute a { font-size: 14px; text-indent: -30px; color: #393532;}
.footer .translation,
.footer .translation a,
.footer .translation li     { font-size: 18px; font-weight: bold; color: #201e1c;}
.footer .translation.first  { margin-bottom: 11px; }
.footer .translation.second { margin-bottom: 11px; }

.donate                { position: absolute; display: block; right: 90px; top: -2px;}

.credits               { position: relative;height: 250px;}
.credits ul            { margin-bottom: 15px; }
.credits ul li         { list-style: none;}
.credits a,
.credits li            { color: #201e1c; text-shadow: 0 1px 0 rgba(255,255,255,.2); text-decoration: none; font-weight: bold; font-size: 18px; line-height: 24px; }



.credits .column        { position: absolute; top: 0;}
.credits .column.first  { width: 340px; left: 150px;}
.credits .column.second { width: 450px; left: 500px;}

/* Headlines */
h1, h2, h3, h4        { width: 100%; text-align: center; margin: 0; text-shadow: -1px -1px 0 rgba(0,0,0,.4); }
h1                    { font-size: 6em; letter-spacing: -1px; color: #FFF;}

h2                    { font-size: 1.3em; line-height: 1.8em; margin-bottom: 10px; }
h3                    { font-size: 1em; line-height: 1.3em; margin-bottom: 15px;}
h4                    { font-size: 4em; line-height: 2.2em; margin-bottom: 30px;}
h2, h3, h4            { color: #252220; text-shadow: 0 1px 0 rgba(255,255,255,.3); }


/* Super Awesome 3D Text Effect from Mark Otto: http://markdotto.com/playground/3d-text */
h1              { text-shadow: 0 1px 0 #ccc,
                               0 2px 0 #c9c9c9,
                               0 3px 0 #bbb,
                               0 4px 0 #b9b9b9,
                               0 5px 0 #aaa,
                               0 6px 1px rgba(0,0,0,.1),
                               0 0 5px rgba(0,0,0,.1),
                               0 1px 3px rgba(0,0,0,.3),
                               0 3px 5px rgba(0,0,0,.2),
                               0 5px 10px rgba(0,0,0,.25),
                               0 10px 10px rgba(0,0,0,.2),
                               0 20px 20px rgba(0,0,0,.15); }

hr { border: 0;
     height: 1px;
     background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0));
     background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0));
     background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0));
     background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0));}